{% extends 'base.html' %}
{% block description %}{% endblock %}
{% block keywords %}{% endblock %}
{% block title %}{{ title }}{% endblock %}

{% block content %}
    <small class="col-6 col-s-12 col-m-12">
    <ul>
      Interlink Metadata:
      {% for m in md %}
        <li>{{ m }}: {{ md[m] }}</li>
      {% endfor %}
    </ul>
  </small>
  
  <small class="col-6 col-s-12 col-m-12">
    <ul>
      Site Map:
      {% for s in sm %}
        <li><a href="{{ url_for('{}'.format(s[1])) }}">{{ s[1] }}</a></li>
      {% endfor %}
    </ul>
  </small>
{% endblock %}
