{% extends 'base.html' %}
{% block description %}{% endblock %}
{% block keywords %}{% endblock %}
{% block title %}{{ title }} Report{% endblock %}

{% block content %}
  <article class="col-12 col-s-12 col-m-12">
    <h1>{{ title }} Report</h1>
    {{ error }}
    <table class="data">
      <tr>
        {% for c in colName %}
          <th>{{ c[0] }}</th>
        {% endfor %}
      </tr>
      {% for row in colRow %}
        <tr>
          {% for c in row %}
          <td>{{ c }}</td>
          {% endfor %}
        </tr>
      {% endfor %}
    </table>
  </article>
{% endblock %}