{% extends 'templeton.html' %}
{% block description %}{% endblock %}
{% block keywords %}{% endblock %}
{% block title %}{{ title }} Form{% endblock %}

{% block myballslookjustlikesweatyfingers %}
<article class="index">
    <fieldset class="form {{ title }}">
      <output name="showResults" for="submit">{{ error }}</output>
      <form method="POST">
        {% for d in colName %}
          {% if d['COLUMN_KEY'] == "MUL" %}
            <label for="{{ d['COLUMN_NAME'] }}">{{ d['COLUMN_NAME'] }}</label>
            <select name="{{ d['COLUMN_NAME'] }}">
            {% for l in lookupTable %}
              <option value="{{ l[0] }}">{{ l[0] }} - {{ l[2] }}</option>
            {% endfor %}
            </select>
          {% endif %}
          {% if d['COLUMN_KEY'] != 'MUL' %}
            <label for="{{ d['COLUMN_NAME'] }}">{{ d['COLUMN_NAME'] }}</label>
            <input type="text" name="{{ d['COLUMN_NAME'] }}" >
          {% endif %}
        {% endfor %}
        <input id="submit" type="submit" value="submit">
      </form>
    </fieldset>
</article>
{% endblock %}