<!DOCTYPE html>
<html lang="en-US">
<head>
  <meta charset="utf-8">
  <meta name="robots" content="follow">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="author" content="Joe Corso">
  <meta name="description" content="{% block description %}{% endblock %}">
  <meta name="keywords" content="{% block keywords %}{% endblock %}">
  <link rel="stylesheet" type="text/css" href="{{ url_for('templeton.static', filename='css/interlink.css') }}">
  <link rel="icon" type="image/x-icon" href="{{ url_for('templeton.static', filename='img/favicon.ico') }}">
  <title>{% block title %}{% endblock %}</title>
</head>

<body class="row pc mobile">

  <div class="startMenu">
    <div class="dropdown">
      <span><img src="{{ url_for('templeton.static', filename='/img/icons/ai-settings2-t.png') }}"></span>
      <div class="dropdownContent">
        <ul>
          <li><a href="{{ url_for('/.index') }}" title="The Index Page"><img src="{{ url_for('templeton.static', filename='/img/icons/ai-home1-t.png') }}"><span>Home</span></a></li>
          <li><a href="{{ url_for('/.about') }}" title="About this company"><img src="{{ url_for('templeton.static', filename='/img/icons/ai-about1-t.png') }}"><span>About</span></a></li>
          <li><a href="{{ url_for('templeton.documentation') }}" title="My Documentation on big brain stuff."><img src="{{ url_for('templeton.static', filename='/img/icons/ai-docs2-t.png') }}"><span>Docs</span></a></li>
         {% if session['yourballslooklikemine'] %}
            {% for d in database %}
              <li><a href="{{ url_for('templeton.admin', db='{}'.format(d[0])) }}" title="{{ d[0] }} Panel"><img src="{{ url_for('templeton.static', filename='/img/icons/ai-settings2-t.png') }}"><span>{{ d[0] }}</span></a></li>
            {% endfor %}
          {% endif %}
        </ul>
      </div>
    </div>
  </div>

<!--
  <nav class="pc mobile">
    <a href="{{ url_for('/.index') }}">Index</a>
              <li><a href="{{ url_for('/.index') }}" title="The Index Page"><img src="{{ url_for('static', filename='/img/icons/ai-home1-t.png') }}"><span>Home</span></a></li>
          <li><a href="{{ url_for('/.about') }}" title="About this company"><img src="{{ url_for('static', filename='/img/icons/ai-about1-t.png') }}"><span>About</span></a></li>
          <li><a href="{{ url_for('templeton.documentation') }}" title="My Documentation on big brain stuff."><img src="{{ url_for('static', filename='/img/icons/ai-docs2-t.png') }}"><span>Docs</span></a></li>
    <span>Reports</span>    
    {% for p in nav %}
      <li><a href="{{ url_for('templeton.generateReport', db='{}'.format(db), page='{}'.format(p[0])) }}">{{ p[0] }}</a></li>
    {% endfor %}
    <span>Forms</span>
    {% for p in nav %}
      <li><a href="{{ url_for('templeton.generateForm', db='{}'.format(db),  page='{}'.format(p[0])) }}">{{ p[0] }}</a></li>
    {% endfor %}
  </nav>
-->

  <div class="title">
    <h1>Templeton at your service!</h1>
    <q>How can I help you?</q>
  </div>
  
  {% block content %}{% endblock %}
  {% if session['yourballslooklikemine'] %}
    {% block myballslookjustlikesweatyfingers %}{% endblock %}
  {% endif %}

  <footer>
    <small class="col-6 col-s-12 col-m-12">
      <div id="cal">
        <div id="clock">Loading Clock...</div>
        <div id="weekofyear"></div>
        <div class="month"></div>
        <div class="month"></div>
        <div class="month"></div>
        <div class="month"></div>
        <div class="month"></div>
        <div class="month"></div>
        <div class="month"></div>
        <div class="month"></div>
        <div class="month"></div>
        <div class="month"></div>
        <div class="month"></div>
        <div class="month"></div>
      </div><br>
      <a href="{{ url_for('templeton.copyright') }}">Copyright</a> &copy; <a href="https://github.com/FrankWilson88" title="Github" target="_blank">Joe Corso</a><div id="copyright"></div>
      <br>{{ version }}-{{ updated }} {{ ip }} <p id="screenSize"></p>
      {% if session['yourballslooklikemine'] %}
        <p>Welcome, Housemaster</p>
      {% endif %}
    </small>
    
    <small class="col-6 col-s-12 col-m-12">
      <ul>
        Site Map:
        {% for s in siteMap %}
          <li><a href="{{ url_for('{}'.format(s[1])) }}">{{ s[1] }}</a></li>
        {% endfor %}
      </ul>
    </small>
  </footer>

  <script src="{{ url_for('templeton.static', filename='js/luxon.js') }}"></script>
  <script src="{{ url_for('templeton.static', filename='js/clock.js') }}"></script>
  <script src="{{ url_for('templeton.static', filename='js/screenSize.js') }}"></script>

</body>
</html>
