{% extends 'templeton.html' %}
{% block description %}{% endblock %}
{% block keywords %}{% endblock %}
{% block title %}{{ title }}{% endblock %}

{% block content %}
  <section class="templetonSection">
    <h1>{{ title }}</h1>
    <article class="templetonArticle">{{ article|safe }}</article>
    <article class="templetonArticle">{{ varA|safe }} This is content coming from the template with the same data: <br> Version: {{ version }} <br> Author: {{ author }} <br>test: {{i|safe}}</article>
    
  </section>
  
  <article class="col-12 col-s-12 col-m-12">
  <h1>{{ content }}</h1>
  <table class="blog">
    <tr>
      {% for c in content %}
        <th>{{ c[3] }}</th>
      {% endfor %}
    </tr>
    {% for row in content %}
        {% for c in row %}
        <tr>{{ c }}</tr><br>
        {% endfor %}
    {% endfor %}
  </table>
</article>
{% endblock %}
